
.smilotrics_faq a {
  text-decoration: none;
  color: inherit;
}

 .smilotrics_faq .description {
  margin: 1em auto 2.25em;
}

.smilotrics_faq ul {
  list-style: none;
  padding: 0;
}
.smilotrics_faq ul .answer_panel {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}
.smilotrics_faq ul .answer_panel.show {
  /*display: block;*/
}
.smilotrics_faq ul li {
  margin: .5em 0;
}
.smilotrics_faq ul li a.question_panel {
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.78);
  color: #fefefe;
  padding: .75em;
  border-radius: 0.15em;
  transition: background .3s ease;
}
.smilotrics_faq ul li a.toggle:hover {
  background: rgba(0, 0, 0, 0.9);
  color: #fefefe;
}
