/*almost everything here is em based*/
@import url(http://fonts.googleapis.com/css?family=Crete+Round);
@import url('https://fonts.googleapis.com/css?family=Abel|Heebo|Muli|News+Cycle|Titillium+Web');

body{
    background-color: #EBEEF0;
    font-family: 'Muli', sans-serif;
}
html, h1, h2, h3, h4, p, label , a{
    font-family: 'Muli', sans-serif;
}
.content{
  background:#fff;
  width: 80%;
  max-width: 960px;
  min-height: 3.750em;
  margin: 2em auto;
  padding: 1.250em;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
  line-height: 1.5em;
  color: #292929;
}

.content p{
  padding-top: 10px;
}

.content img{
  padding-top: 10px;
}

.ribbon{
  position:relative;
  padding: 0 1.0em;
  font-size:2.000em;
  margin: 0 0 0 -0.625em;
  line-height: 1.875em;
  color: #fff;
  border-radius: 0 0.156em 0.156em 0;
  background:#4890c1;
  box-shadow: -1px 2px 3px rgba(0,0,0,0.5);
}

.ribbon:before, .ribbon:after{
  position:absolute;
  content: '';
  display: block;
}

.ribbon:before{
  width: 0.469em;
  height: 65px;
  padding: 0 0 0.438em;
  top:0;
  left: -0.469em;
  background:inherit;
  border-top-left-radius: 1.313em;
  border-bottom-left-radius: 1.13em;
}

.ribbon:after{
  width: 0.313em;
  height: 0.313em;
  background: rgba(0,0,0,0.35);
  bottom: -0.313em;
  left: -0.313em;
  border-radius: 0.313em 0 0 0.313em;
  box-shadow: inset -1px 2px 2px rgba(0,0,0,0.3);
}
.formcolor{
    box-shadow:0 2px 4px rgba(0,0,0,0.1);
    border-radius: 3px;
    background-color: #ffffff;
}
table.dataTable.no-footer{
    margin: 0;
    border-bottom: 1px solid #ccc;
}
#topiclist_wrapper{
    clear: both;
}
#topiclist_length{
    padding-top: 10px;
}
.dataTables_filter{
    padding: 10px 0 10px 0;
}
.dataTables_length label,.dataTables_filter label{
    margin-bottom: 0px !important;
}
table.dataTable{
    margin: 0px !important;
}
h3.page-heading{
    /*font-family: 'Heebo', sans-serif;*/
}
h4 a {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    margin: 0px;
}
.zero-padding{
    padding: 0px !important;
}
.add-right-button{
    text-align: right;
    padding-top: 25px;
    padding-right: 0;
}
.navbar-default{
    border-color: #4890c1;
    background-color: #4890c1;    
    color:#fff;
	border-radius: 0;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #4890c1;
    border-color: #4890c1;
}

.panel-body p a b {
    color: #2b709e;
}

.navbar-default .navbar-nav>.active>a{
    background-color: #2b709e;
    color:#fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
    background-color: #2b709e;
    color: #fff;
}
.navbar-default .navbar-nav>.active>a:hover{
    background-color: #2b709e;
    color: #fff;
}
.add-right-button a,.panel-primary>.panel-heading{
    color: white;
    background-color: #4890c1;
    font-size: 20px;
    border-color: #4890c1;
}
.add-right-button a:hover{
    background-color: #2b709e;
    color: #fff;
    border-color: #2b709e;
}
.pagination>.active>a{
    background-color: #4890c1;
    border-color: #4890c1;
    color:#fff;
}
.pagination>.active>a:hover{
    background-color: #4890c1;
    border-color: #4890c1;
    color:#fff;
}
.page-left-section{
    padding-top: 20px;
    padding-left: 0;
    padding-bottom: 20px;
}
.qa-list-edit-form .btn-primary, 
.qa-list-add-form .btn-primary, 
.add-topic-form .btn-primary, 
.edit-topic-form .btn-primary{
    color: #fff;
    background-color: #2b709e;
    border-color: #4890c1;
}
.qa-list-edit-form .btn-primary:hover, 
.qa-list-add-form .btn-primary:hover, 
.add-topic-form .btn-primary:hover, 
.edit-topic-form .btn-primary:hover,
.add-right-button .btn-primary:active
.add-right-button .btn-primary:active:hover,
.add-right-button .btn-primary:focus{
    color: #fff;
    background-color: #2b709e;
    border-color: #2b709e;
}
.add-topic-form .btn.disabled, .qa-list-add-form .btn.disabled{
    opacity: 1.0;
}
.custom-section .panel-title a:hover,
.custom-section .panel-title a:focus,
.custom-section .panel-title a:active,
.navbar-brand a:hover{
    text-decoration: none;
}
.custom-section .panel-primary{
    border-color: #EBEEF0;
}
.custom-section .panel-body{
    border-top-color: #EBEEF0 !important;
}
/*for save and default buttons*/
.Configuration_buttons{
    display: inline;
}
.Configuration_buttons .save{
    display: inline;
    width: 48%;
}
.Configuration_buttons .default{
    display: inline;
    width: 48%;
    margin-left: 10px;
}

/*for the range input*/
input[type=range] {
  height: 28px;
  -webkit-appearance: none;
  margin: 0px;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 2px #002200;
  background: #FFFAFD;
  border-radius: 10px;
  border: 1px solid #4890C1;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2px 2px 2px #091117;
  border: 2px solid #4890C1;
  height: 18px;
  width: 18px;
  border-radius: 20px;
  background: #4890C1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFFAFD;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 2px #002200;
  background: #FFFAFD;
  border-radius: 10px;
  border: 1px solid #4890C1;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2px 2px 2px #091117;
  border: 2px solid #4890C1;
  height: 18px;
  width: 18px;
  border-radius: 20px;
  background: #4890C1;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #FFFAFD;
  border: 1px solid #4890C1;
  border-radius: 20px;
  box-shadow: 1px 1px 2px #002200;
}
input[type=range]::-ms-fill-upper {
  background: #FFFAFD;
  border: 1px solid #4890C1;
  border-radius: 20px;
  box-shadow: 1px 1px 2px #002200;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 2px 2px 2px #091117;
  border: 2px solid #4890C1;
  height: 18px;
  width: 18px;
  border-radius: 20px;
  background: #4890C1;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #FFFAFD;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FFFAFD;
}

/*pagination*/
div.dataTables_wrapper div.dataTables_info{
    padding: 15px 10px 10px 0;
    margin-top: 5px;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination{
    padding: 10px 0 10px 10px;
}
#topiclist .glyphicon{
    padding-right: 5px;
    top:3px;
}
.action-shorting::after,.status-shorting::after{
    display: none !important;
}
.formcolor .form-group{
    clear: both;
}
.add-topic-form , .qa-list-add-form , .qa-list-edit-form , .edit-topic-form{
    padding-left: 15px;
    padding-right: 15px;
}
/*help section */
.help-use-section, .benefit-section ul{
    padding-top: 20px; 
}

.custom-nav{
    background-color: #eec334 !important;
}


/*For sidebar arrow */
.panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;
}
.panel-heading.active a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
} 
/*for accordian with i*/
.arrows-default{
    display: none;
}
.arrows-on{
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}
.arrow-padding-bottom{
    padding-bottom: 10px;
}
#arrows input[type="radio"] { 
    height: 20px;
    width: 20px;
}
#arrows i{
    font-size: 20px;
}
.Questionsfont_size{
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
}
.Questionsfont_size span{
    display: inline-block;
}
#question_fontsize{
    display: inline-block;
    width: 80px;
}
.Answerfont_size{
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
}
.Answerfont_size span{
    display: inline-block;
}
#answer_fontsize{
    display: inline-block;
    width: 80px;
}
#arrows h4{
    display: inline-block;
}
#arrows .arrowposition_select{
    display: inline-block;
    margin-left: 5px;
}
#arrow_position{
    display: inline-block;
}
.question_panel .glyphicon {
    line-height: 1.5; 
}

button.form-control.btn {
    background: #2b709e;
    color: #fff;
}

@media (max-width: 600px) {

  body{
    font-size:0.875em;
  }

  .ribbon{
    line-height: 1.143em;
    padding: 0.5em;
  }

  .ribbon:before, .ribbon:after{
    font-size: 0.714em;
  }

}
